<html>
    <head>
      <meta charset="utf-8"/>
    </head>
    <body>
        <script src="three.min.js"></script>
        <script src="TrackballControls.js"></script>
        <script src="js/optimer_regular.typeface.js"></script>
        <script src="AnaglyphEffect.js"></script>
        <script src="jsonDataFile.js"></script>
        <script>
            var camera, controls, scene, renderer;

            init();
            animate();

            function init(){
                camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 1000);
                camera.position.z = 500;

                controls = new THREE.TrackballControls( camera );
                controls.addEventListener('change', render);

                scene = new THREE.Scene();
                
                var pointLight = new THREE.PointLight( 0xffffff, 1, 1200 );
                pointLight.name = "pointLight";
                scene.add( pointLight );
                pointLight.position.set( camera.position.x, camera.position.y, camera.position.z + 10 );


                
                //Material (Farbe und Textur) wird definiert
                var size = 256; // CHANGED

                // addHere
                
                var container = document.createElement( 'div' );
  			        document.body.appendChild( container );
                
                renderer = new THREE.WebGLRenderer();
                renderer.setSize(window.innerWidth, window.innerHeight)
                renderer.setClearColor(0x000000, 1);
                // document.body.appendChild(renderer.domElement);
                container.appendChild( renderer.domElement );
                
                var width = window.innerWidth || 2;
                var height = window.innerHeight || 2;
                effect = new THREE.AnaglyphEffect( renderer );
                effect.setSize( width, height );


                
            }

            function animate(){
                requestAnimationFrame( animate );
                controls.update();
            }

            function render(){
                scene.getObjectByName( "pointLight" ).position.copy( camera.position );
                effect.render( scene, camera );
            } 

        </script>
    </body>
</html>
